{% extends 'base.html.twig' %}

{% block title %}Articles index{% endblock %}

{% block body %}
    <h1>Articles index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Contenu</th>
                <th>Date_publication</th>
                <th>Auteur</th>
                <th>actions</th>
                <th>image</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.titre }}</td>
                <td>{{ article.contenu }}</td>
                <td>{{ article.datePublication ? article.datePublication|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ article.auteur }}</td>
                <td>
                    <a href="{{ path('articles_show', {'id': article.id}) }}">show</a>
                    <a href="{{ path('articles_edit', {'id': article.id}) }}">edit</a>
                </td>
                <td><img src="{{asset('assets/images/'~ article.image)}}" alt="" style='width: 60px;'></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('articles_new') }}">Create new</a>
{% endblock %}
